@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700");
/* line 3, ../sass/modules/_fonts.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/bebasneue/BebasNeue.eot?#iefix") format("embedded-opentype"), url("../fonts/bebasneue/BebasNeue.woff2") format("woff2"), url("../fonts/bebasneue/BebasNeue.woff") format("woff"), url("../fonts/bebasneue/BebasNeue.ttf") format("truetype"), url("../fonts/bebasneue/BebasNeue.svg#Bebas Neue") format("svg");
}
/* line 9, ../sass/modules/_fonts.scss */
h1, h2, h3, h4, h5 {
  font-family: "Bebas Neue", sans-serif;
}

/* line 13, ../sass/modules/_fonts.scss */
.heading {
  font-size: 56px;
  font-size: 3.5em;
  font-family: "Bebas Neue", sans-serif;
  text-transform: capitalize;
}

/* line 18, ../sass/modules/_fonts.scss */
.subtext {
  font-size: 16px;
  font-size: 1em;
  font-weight: bold;
  text-transform: capitalize;
}

/* line 23, ../sass/modules/_fonts.scss */
.font-color-invert {
  color: white;
}

/* line 1, ../sass/modules/_layout.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* line 2, ../sass/modules/_navbar.scss */
header .navbar-default {
  background-color: #2c2b2a;
  border-color: transparent;
  margin-bottom: 0px;
}
/* line 6, ../sass/modules/_navbar.scss */
header .navbar-default .navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 12, ../sass/modules/_navbar.scss */
header .navbar-default .navbar-nav li a {
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 14px;
  font-size: 0.875em;
}
/* line 19, ../sass/modules/_navbar.scss */
header .navbar-default .navbar-nav li a:hover, header .navbar-default .navbar-nav li a:focus {
  color: #c59a6d;
}
/* line 26, ../sass/modules/_navbar.scss */
header .navbar-default .navbar-nav .active a, header .navbar-default .navbar-nav .active a:hover, header .navbar-default .navbar-nav .active a:focus {
  color: #c59a6d;
  background-color: transparent;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  margin-top: 13px;
  margin-bottom: 13px;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* line 2, ../sass/modules/_landing.scss */
main #landing {
  position: relative;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}
/* line 10, ../sass/modules/_landing.scss */
main #landing .landing-text {
  text-align: center;
}
/* line 12, ../sass/modules/_landing.scss */
main #landing .landing-text h1 {
  font-size: 128px;
  font-size: 8em;
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
  color: white;
}
/* line 18, ../sass/modules/_landing.scss */
main #landing .landing-text p {
  color: white;
  text-transform: capitalize;
}
/* line 22, ../sass/modules/_landing.scss */
main #landing .landing-text hr {
  width: 35%;
  border-color: #c59a6d;
  border-width: 3px;
}
/* line 28, ../sass/modules/_landing.scss */
main #landing .move-to-bottom {
  position: absolute;
  bottom: 20px;
}
/* line 29, ../sass/modules/_landing.scss */
main #landing .move-to-bottom:hover, main #landing .move-to-bottom:focus {
  -webkit-animation: bounce 1s;
  animation: bounce 1s;
}
/* line 33, ../sass/modules/_landing.scss */
main #landing .move-to-bottom .fa {
  color: #c59a6d;
  border: white;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
}

/* line 1, ../sass/modules/_about.scss */
#about {
  padding-top: 100px;
  padding-bottom: 100px;
}
/* line 4, ../sass/modules/_about.scss */
#about .container hr {
  margin-top: 100px;
  margin-bottom: 100px;
  border-color: #c59a6d;
  width: 30%;
}
/* line 9, ../sass/modules/_about.scss */
#about .container .team-section {
  padding-top: 50px;
}
/* line 11, ../sass/modules/_about.scss */
#about .container .team-section .team-member {
  display: inline-block;
}
/* line 13, ../sass/modules/_about.scss */
#about .container .team-section .team-member .text-section {
  padding-top: 30px;
}
/* line 16, ../sass/modules/_about.scss */
#about .container .team-section .team-member .text-section .name-designation span {
  font-size: 16px;
  font-size: 1em;
}
/* line 19, ../sass/modules/_about.scss */
#about .container .team-section .team-member .text-section .name-designation span:first-of-type {
  color: #c59a6d;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 24, ../sass/modules/_about.scss */
#about .container .team-section .team-member .text-section .name-designation span:last-of-type {
  text-transform: uppercase;
}
/* line 26, ../sass/modules/_about.scss */
#about .container .team-section .team-member .text-section .name-designation span:last-of-type:before {
  content: '/';
  padding-left: 10px;
  padding-right: 2px;
}
/* line 35, ../sass/modules/_about.scss */
#about .container .team-section .team-member .text-section .social-media a i {
  color: #777777;
  padding-right: 10px;
  padding-left: 10px;
}
/* line 39, ../sass/modules/_about.scss */
#about .container .team-section .team-member .text-section .social-media a i:first-of-type {
  padding-left: 0px;
}
/* line 43, ../sass/modules/_about.scss */
#about .container .team-section .team-member .text-section .social-media a:hover i, #about .container .team-section .team-member .text-section .social-media a:focus i {
  color: #c59a6d;
}

/* line 1, ../sass/modules/_work.scss */
#work {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2c2b2a;
}
/* line 5, ../sass/modules/_work.scss */
#work .container .bx-wrapper {
  background: none;
  border: none;
  box-shadow: none;
}
/* line 10, ../sass/modules/_work.scss */
#work .container .bx-wrapper .bx-pager.bx-default-pager a {
  background: transparent;
  border-color: white;
  border-style: solid;
  border-width: 0.5px;
}
/* line 16, ../sass/modules/_work.scss */
#work .container .bx-wrapper .bx-pager.bx-default-pager a:hover, #work .container .bx-wrapper .bx-pager.bx-default-pager a.active, #work .container .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #c59a6d;
  border: none;
}
/* line 20, ../sass/modules/_work.scss */
#work .container .slider1 {
  padding-top: 75px;
}
/* line 23, ../sass/modules/_work.scss */
#work .container .outside {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}
/* line 26, ../sass/modules/_work.scss */
#work .container .outside .fa {
  color: #c59a6d;
  border: white;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
}
/* line 33, ../sass/modules/_work.scss */
#work .container .outside .fa:first-of-type {
  margin-right: 10px;
}
/* line 36, ../sass/modules/_work.scss */
#work .container .outside .fa:last-of-type {
  margin-left: 10px;
}
/* line 40, ../sass/modules/_work.scss */
#work .container .slide {
  max-width: 350px;
  width: 100%;
  height: 500px;
}
@media (max-width: 768px) {
  /* line 40, ../sass/modules/_work.scss */
  #work .container .slide {
    max-width: 100%;
  }
}
/* line 47, ../sass/modules/_work.scss */
#work .container .slide .text-con {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 49, ../sass/modules/_work.scss */
#work .container .slide .text-con p:first-of-type {
  color: #c59a6d;
  font-weight: bold;
  font-size: 18px;
  font-size: 1.125em;
  text-transform: uppercase;
}
/* line 55, ../sass/modules/_work.scss */
#work .container .slide .text-con p:last-of-type {
  color: white;
  text-transform: capitalize;
}
/* line 59, ../sass/modules/_work.scss */
#work .container .slide .text-con hr {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 1, ../sass/modules/_services.scss */
#services {
  padding-top: 100px;
  padding-bottom: 100px;
}
/* line 4, ../sass/modules/_services.scss */
#services .container hr {
  margin-top: 100px;
  margin-bottom: 100px;
  border-color: #c59a6d;
  width: 30%;
}
/* line 9, ../sass/modules/_services.scss */
#services .container .services-container {
  padding-top: 75px;
}
/* line 12, ../sass/modules/_services.scss */
#services .container .services-container .service-item i {
  color: #c59a6d;
  font-size: 56px;
  font-size: 3.5em;
  border: 1px;
  border-color: #777777;
  border-style: solid;
  padding: 30px;
}
/* line 20, ../sass/modules/_services.scss */
#services .container .services-container .service-item .service-name {
  color: #c59a6d;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  font-size: 1.125em;
  padding-top: 35px;
  padding-bottom: 35px;
}
/* line 27, ../sass/modules/_services.scss */
#services .container .services-container .service-item .service-desc {
  font-size: 14px;
  font-size: 0.875em;
  text-transform: capitalize;
}
/* line 34, ../sass/modules/_services.scss */
#services .container .price-container {
  padding-top: 30px;
}
/* line 37, ../sass/modules/_services.scss */
#services .container .price-container .package .inner {
  padding: 55px;
  background-color: #f6f6f6;
  text-align: center;
}
/* line 42, ../sass/modules/_services.scss */
#services .container .price-container .package .inner:hover, #services .container .price-container .package .innerfocus {
  background-color: white;
  border-color: #c59a6d;
  border-width: 1px;
  border-style: solid;
}
/* line 50, ../sass/modules/_services.scss */
#services .container .price-container .package hr {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 53, ../sass/modules/_services.scss */
#services .container .price-container .package .package-type {
  color: #c59a6d;
  font-size: 18px;
  font-size: 1.125em;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 59, ../sass/modules/_services.scss */
#services .container .price-container .package .package-price {
  font-size: 72px;
  font-size: 4.5em;
  font-weight: bold;
}
/* line 63, ../sass/modules/_services.scss */
#services .container .price-container .package .payment-cycle {
  font-size: 14px;
  font-size: 0.875em;
  font-weight: bold;
}
/* line 68, ../sass/modules/_services.scss */
#services .container .price-container .package ul li {
  font-size: 14px;
  font-size: 0.875em;
  padding-top: 20px;
  text-transform: capitalize;
}
/* line 73, ../sass/modules/_services.scss */
#services .container .price-container .package ul li:first-of-type {
  padding-top: 0px;
}
/* line 78, ../sass/modules/_services.scss */
#services .container .price-container .package .btn-default {
  margin-top: 50px;
  background-color: #c59a6d;
  color: white;
  text-transform: uppercase;
}

/* line 1, ../sass/modules/_video.scss */
#video-div {
  position: relative;
  width: 100%;
  height: 370px;
}
@media (max-width: 991px) {
  /* line 1, ../sass/modules/_video.scss */
  #video-div {
    background: url(../assets/images/snapshot.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
/* line 10, ../sass/modules/_video.scss */
#video-div #video-container {
  position: absolute;
}
@media (max-width: 991px) {
  /* line 10, ../sass/modules/_video.scss */
  #video-div #video-container {
    display: none;
  }
}
/* line 16, ../sass/modules/_video.scss */
#video-div #video-container {
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* line 23, ../sass/modules/_video.scss */
#video-div video {
  position: absolute;
  z-index: 0;
}
/* line 27, ../sass/modules/_video.scss */
#video-div video.fillWidth {
  width: 100%;
}
/* line 30, ../sass/modules/_video.scss */
#video-div .content {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* line 37, ../sass/modules/_video.scss */
#video-div .content h1 {
  color: white;
}
/* line 40, ../sass/modules/_video.scss */
#video-div .content hr {
  border-color: #c59a6d;
  width: 50%;
}
@media (max-width: 991px) {
  /* line 30, ../sass/modules/_video.scss */
  #video-div .content {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
  }
  /* line 48, ../sass/modules/_video.scss */
  #video-div .content .heading {
    font-size: 30px;
    font-size: 1.875em;
  }
}

/* line 1, ../sass/modules/_testimonials.scss */
#testimonials {
  padding-top: 100px;
  padding-bottom: 100px;
}
/* line 4, ../sass/modules/_testimonials.scss */
#testimonials .container .bx-wrapper {
  background: none;
  border: none;
  box-shadow: none;
}
/* line 9, ../sass/modules/_testimonials.scss */
#testimonials .container .bx-viewport {
  height: auto !important;
}
/* line 12, ../sass/modules/_testimonials.scss */
#testimonials .container .slider2 {
  padding-top: 75px;
}
/* line 15, ../sass/modules/_testimonials.scss */
#testimonials .container .slider2 .slide img {
  margin: 0 auto;
}
/* line 18, ../sass/modules/_testimonials.scss */
#testimonials .container .slider2 .slide .text {
  padding-top: 30px;
  font-size: 16px;
  font-size: 1em;
  font-style: italic;
}
/* line 24, ../sass/modules/_testimonials.scss */
#testimonials .container .slider2 .slide .speaker .speaker-name {
  font-size: 14px;
  font-size: 0.875em;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 29, ../sass/modules/_testimonials.scss */
#testimonials .container .slider2 .slide .speaker .speaker-name:before {
  content: '-';
  padding-right: 5px;
}
/* line 34, ../sass/modules/_testimonials.scss */
#testimonials .container .slider2 .slide .speaker .speaker-designation {
  font-size: 12px;
  font-size: 0.75em;
  color: #777777;
}
/* line 37, ../sass/modules/_testimonials.scss */
#testimonials .container .slider2 .slide .speaker .speaker-designation:before {
  content: '/';
  padding-left: 15px;
  padding-right: 5px;
}
/* line 46, ../sass/modules/_testimonials.scss */
#testimonials .container .outside {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}
/* line 49, ../sass/modules/_testimonials.scss */
#testimonials .container .outside .fa {
  color: #c59a6d;
  border: black;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
}
/* line 56, ../sass/modules/_testimonials.scss */
#testimonials .container .outside .fa:first-of-type {
  margin-right: 10px;
}
/* line 59, ../sass/modules/_testimonials.scss */
#testimonials .container .outside .fa:last-of-type {
  margin-left: 10px;
}
/* line 63, ../sass/modules/_testimonials.scss */
#testimonials .container .bx-wrapper .bx-pager.bx-default-pager a {
  background: transparent;
  border-color: black;
  border-style: solid;
  border-width: 0.5px;
}
/* line 69, ../sass/modules/_testimonials.scss */
#testimonials .container .bx-wrapper .bx-pager.bx-default-pager a:hover, #testimonials .container .bx-wrapper .bx-pager.bx-default-pager a.active, #testimonials .container .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #c59a6d;
  border: none;
}
/* line 73, ../sass/modules/_testimonials.scss */
#testimonials .container hr {
  margin-top: 100px;
  margin-bottom: 100px;
  border-color: #c59a6d;
  width: 30%;
}
/* line 78, ../sass/modules/_testimonials.scss */
#testimonials .container .clients {
  padding-top: 75px;
}
/* line 80, ../sass/modules/_testimonials.scss */
#testimonials .container .clients .client {
  display: inline-block;
}

/* line 1, ../sass/modules/_facts.scss */
#facts {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2c2b2a;
}
/* line 5, ../sass/modules/_facts.scss */
#facts .container .facts {
  padding-top: 75px;
  color: white;
}
/* line 8, ../sass/modules/_facts.scss */
#facts .container .facts .fa, #facts .container .facts .number {
  color: white;
  font-size: 56px;
  font-size: 3.5em;
}
/* line 12, ../sass/modules/_facts.scss */
#facts .container .facts .number {
  font-weight: bold;
}
/* line 15, ../sass/modules/_facts.scss */
#facts .container .facts .text {
  text-transform: uppercase;
  color: #c59a6d;
  font-size: 16px;
  font-size: 1em;
}
/* line 20, ../sass/modules/_facts.scss */
#facts .container .facts hr {
  width: 50%;
}
@media (max-width: 991px) {
  /* line 5, ../sass/modules/_facts.scss */
  #facts .container .facts {
    text-align: center;
  }
}

/* line 1, ../sass/modules/_contact.scss */
#contact {
  padding-top: 100px;
  padding-bottom: 100px;
}
/* line 4, ../sass/modules/_contact.scss */
#contact .container form {
  padding-top: 75px;
}
/* line 6, ../sass/modules/_contact.scss */
#contact .container form .form-control {
  height: 50px;
  background-color: #f6f6f6;
  border-radius: 0px;
  font-size: 14px;
  font-size: 0.875em;
  text-transform: uppercase;
}
/* line 13, ../sass/modules/_contact.scss */
#contact .container form .custom-height {
  height: auto;
}
/* line 16, ../sass/modules/_contact.scss */
#contact .container form button {
  background-color: #c59a6d;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  font-size: 0.875em;
  padding: 20px;
  border-radius: 0px;
  margin-top: 75px;
}

/* line 1, ../sass/modules/_findus.scss */
#findus {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2c2b2a;
}
/* line 5, ../sass/modules/_findus.scss */
#findus .container .facts {
  padding-top: 75px;
  color: white;
}
/* line 8, ../sass/modules/_findus.scss */
#findus .container .facts .fa {
  color: white;
  font-size: 56px;
  font-size: 3.5em;
}
/* line 12, ../sass/modules/_findus.scss */
#findus .container .facts .contact-text {
  font-weight: bold;
  color: #c59a6d;
  font-size: 18px;
  font-size: 1.125em;
}
/* line 17, ../sass/modules/_findus.scss */
#findus .container .facts .contact-detail {
  padding-top: 30px;
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  font-size: 1em;
}
/* line 23, ../sass/modules/_findus.scss */
#findus .container .facts hr {
  width: 50%;
}
@media (max-width: 991px) {
  /* line 5, ../sass/modules/_findus.scss */
  #findus .container .facts {
    text-align: center;
  }
}

/* line 1, ../sass/modules/_footer.scss */
footer {
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 5, ../sass/modules/_footer.scss */
footer .container .social-icons i {
  margin-right: 15px;
}
/* line 8, ../sass/modules/_footer.scss */
footer .container .social-icons i:hover, footer .container .social-icons i:focus {
  color: #c59a6d;
}
/* line 12, ../sass/modules/_footer.scss */
footer .container .social-icons i:last-of-type {
  margin-right: 0px;
}
