doctype html
html(class="no-js" lang="")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title Restaurant Secrets Inc Test
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel="apple-touch-icon" href="apple-touch-icon.png")
        link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
        link(rel="stylesheet" href="bower_components/bxslider-4/dist/jquery.bxslider.css")
        link(rel="stylesheet" href="css/style.css")
        script(src="js/modernizr.js")
    body
        //
            [if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]

        // Add your site or application content here
        header
            nav.navbar.navbar-default.navbar-fixed-top#custom-nav
                .container
                    .navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-id', aria-expanded='false')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='#')
                            img(src="assets/images/logo.png").img-responsive
                    #navbar-id.collapse.navbar-collapse

                        ul.nav.navbar-nav.navbar-right
                            li.active
                                a(href='#') Home
                            li
                                a(href='#') About
                            li
                                a(href='#') Services
                            li
                                a(href='#') Works
                            li
                                a(href='#') Pricing
                            li
                                a(href='#') Clients
                            li
                                a(href='#') Blog
                            li
                                a(href='#') Contact




        main
            section#landing(style="background:url(http://placehold.it/1920x1080/272624/2c2b2a) no-repeat center center")
                .landing-text
                    h1 We are
                    hr
                    h1 Designing
                    p And We Are Doing It Well
                .move-to-bottom
                    a(href="#")
                        i.fa.fa-angle-down.fa-2x




            section#about
                .container
                    .text-center
                        h1.heading About Us
                        p.subtext Duis vitae velit mollis, congue nisi dignissim, pellentesque lorem

                    hr

                    .text-center
                        h1.heading And the team
                        p.subtext Duis vitae velit mollis, congue nisi dignissim, pellentesque lorem
                    .row.team-section
                        .col-md-3.col-sm-6.team-member
                            img.img-responsive.img-thumbnail(src='http://placehold.it/150x200')
                            .text-section
                                .name-designation
                                    span Mike
                                    span CFO
                                .social-media
                                    a(href="#")
                                        i.fa.fa-facebook
                                    a(href="#")
                                        i.fa.fa-twitter
                                    a(href="#")
                                        i.fa.fa-google-plus
                                    a(href="#")
                                        i.fa.fa-linkedin
                                    a(href="#")
                                        i.fa.fa-pinterest



                        .col-md-3.col-sm-6.team-member
                            img.img-responsive.img-thumbnail(src='http://placehold.it/150x200')
                            .text-section
                                .name-designation
                                    span Elle
                                    span CFO
                                .social-media
                                    a(href="#")
                                        i.fa.fa-facebook
                                    a(href="#")
                                        i.fa.fa-twitter
                                    a(href="#")
                                        i.fa.fa-google-plus
                                    a(href="#")
                                        i.fa.fa-linkedin
                                    a(href="#")
                                        i.fa.fa-pinterest



                        .col-md-3.col-sm-6.team-member
                            img.img-responsive.img-thumbnail(src='http://placehold.it/150x200')
                            .text-section
                                .name-designation
                                    span Val
                                    span CFO
                                .social-media
                                    a(href="#")
                                        i.fa.fa-facebook
                                    a(href="#")
                                        i.fa.fa-twitter
                                    a(href="#")
                                        i.fa.fa-google-plus
                                    a(href="#")
                                        i.fa.fa-linkedin
                                    a(href="#")
                                        i.fa.fa-pinterest



                        .col-md-3.col-sm-6.team-member
                            img.img-responsive.img-thumbnail(src='http://placehold.it/150x200')
                            .text-section
                                .name-designation
                                    span Didi
                                    span CFO
                                .social-media
                                    a(href="#")
                                        i.fa.fa-facebook
                                    a(href="#")
                                        i.fa.fa-twitter
                                    a(href="#")
                                        i.fa.fa-google-plus
                                    a(href="#")
                                        i.fa.fa-linkedin
                                    a(href="#")
                                        i.fa.fa-pinterest



            section#work
                .container
                    .text-center
                        h1.heading.font-color-invert Work
                        p.subtext.font-color-invert Duis vitae velit mollis, congue nisi dignissim, pellentesque lorem

                    .slider1
                        .slide
                           img.img-thumbnail.img-responsive(src="http://placehold.it/350x250")
                           .text-con
                               p CLEMENTINE DE LA FERONNIERE
                               hr
                               p Print Design
                        .slide
                            img.img-thumbnail.img-responsive(src="http://placehold.it/350x250")
                            .text-con
                                p Farmers Market
                                hr
                                p Web Design
                        .slide
                            img.img-thumbnail.img-responsive(src="http://placehold.it/350x250")
                            .text-con
                                p Beautiful Girl
                                hr
                                p Photography
                        .slide
                            img.img-thumbnail.img-responsive(src="http://placehold.it/350x250")
                            .text-con
                                p CLEMENTINE DE LA FERONNIERE
                                hr
                                p Print Design
                        .slide
                            img.img-thumbnail.img-responsive(src="http://placehold.it/350x250")
                            .text-con
                                p Farmers Market
                                hr
                                p Web Design
                        .slide
                            img.img-thumbnail.img-responsive(src="http://placehold.it/350x250")
                            .text-con
                                p Beautiful Girl
                                hr
                                p Photography




                    .outside
                        p
                            span#slider-prev
                            span#slider-next
        script(src="bower_components/jquery/dist/jquery.min.js")
        script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
        script(src="bower_components/bxslider-4/dist/jquery.bxslider.js")
        script(src="js/app.js")


        // Google Analytics: change UA-XXXXX-Y to be your site's ID.
        script  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date; ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        script(src="https://www.google-analytics.com/analytics.js" async defer)