doctype html
html(class="no-js" lang="")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title Restaurant Secrets Inc Test
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel="apple-touch-icon" href="apple-touch-icon.png")
        link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
        link(rel="stylesheet" href="bower_components/bxslider-4/dist/jquery.bxslider.css")
        link(rel="stylesheet" href="bower_components/jquery-timelineMe/src/jquery.timelineMe.css")
        link(rel="stylesheet" href="css/style.css")
        script(src="js/modernizr.js")
    body(data-spy="scroll" data-target="#navbar-id")
        //
            [if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]

        // Add your site or application content here
        header
            nav.navbar.navbar-default.navbar-fixed-top#custom-nav
                .container
                    .navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-id', aria-expanded='false')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='#')
                            img(src="assets/images/logo.png").img-responsive
                    #navbar-id.collapse.navbar-collapse

                        ul.nav.navbar-nav.navbar-right
                            li.active
                                a(href='#') Home
                            li
                                a(href='#') About
                            li
                                a(href='#') Services
                            li
                                a(href='#') Works
                            li
                                a(href='#') Pricing
                            li
                                a(href='#') Clients
                            li
                                a(href='#') Blog
                            li
                                a(href='#') Contact


        main
            section#landing(style="background:url(http://placehold.it/1920x1080/272624/2c2b2a) no-repeat center center")
                .landing-text
                    h1 We are
                    hr
                    h1 Designing
                    p And We Are Doing It Well
                .move-to-bottom
                    a(href="#")
                        i.fa.fa-angle-down.fa-2x




            section#about
                .container
                    .text-center
                        h1.heading About Us
                        p.subtext Duis vitae velit mollis, congue nisi dignissim, pellentesque lorem

                    #timeline-container-basic(type="text")
                    hr

                    .text-center
                        h1.heading And the team
                        p.subtext Duis vitae velit mollis, congue nisi dignissim, pellentesque lorem
                    .row.team-section
                        .col-md-3.col-sm-6.team-member
                            img.img-responsive.img-thumbnail(src='http://placehold.it/150x200')
                            .text-section
                                .name-designation
                                    span Mike
                                    span CFO
                                .social-media
                                    a(href="#")
                                        i.fa.fa-facebook
                                    a(href="#")
                                        i.fa.fa-twitter
                                    a(href="#")
                                        i.fa.fa-google-plus
                                    a(href="#")
                                        i.fa.fa-linkedin
                                    a(href="#")
                                        i.fa.fa-pinterest



                        .col-md-3.col-sm-6.team-member
                            img.img-responsive.img-thumbnail(src='http://placehold.it/150x200')
                            .text-section
                                .name-designation
                                    span Elle
                                    span CFO
                                .social-media
                                    a(href="#")
                                        i.fa.fa-facebook
                                    a(href="#")
                                        i.fa.fa-twitter
                                    a(href="#")
                                        i.fa.fa-google-plus
                                    a(href="#")
                                        i.fa.fa-linkedin
                                    a(href="#")
                                        i.fa.fa-pinterest



                        .col-md-3.col-sm-6.team-member
                            img.img-responsive.img-thumbnail(src='http://placehold.it/150x200')
                            .text-section
                                .name-designation
                                    span Val
                                    span CFO
                                .social-media
                                    a(href="#")
                                        i.fa.fa-facebook
                                    a(href="#")
                                        i.fa.fa-twitter
                                    a(href="#")
                                        i.fa.fa-google-plus
                                    a(href="#")
                                        i.fa.fa-linkedin
                                    a(href="#")
                                        i.fa.fa-pinterest



                        .col-md-3.col-sm-6.team-member
                            img.img-responsive.img-thumbnail(src='http://placehold.it/150x200')
                            .text-section
                                .name-designation
                                    span Didi
                                    span CFO
                                .social-media
                                    a(href="#")
                                        i.fa.fa-facebook
                                    a(href="#")
                                        i.fa.fa-twitter
                                    a(href="#")
                                        i.fa.fa-google-plus
                                    a(href="#")
                                        i.fa.fa-linkedin
                                    a(href="#")
                                        i.fa.fa-pinterest



            section#work
                .container
                    .text-center
                        h1.heading.font-color-invert Work
                        p.subtext.font-color-invert Duis vitae velit mollis, congue nisi dignissim, pellentesque lorem

                    .slider1
                        .slide
                           img.img-thumbnail.img-responsive(src="http://placehold.it/350x250")
                           .text-con
                               p CLEMENTINE DE LA FERONNIERE
                               hr
                               p Print Design
                        .slide
                            img.img-thumbnail.img-responsive(src="http://placehold.it/350x250")
                            .text-con
                                p Farmers Market
                                hr
                                p Web Design
                        .slide
                            img.img-thumbnail.img-responsive(src="http://placehold.it/350x250")
                            .text-con
                                p Beautiful Girl
                                hr
                                p Photography
                        .slide
                            img.img-thumbnail.img-responsive(src="http://placehold.it/350x250")
                            .text-con
                                p CLEMENTINE DE LA FERONNIERE
                                hr
                                p Print Design
                        .slide
                            img.img-thumbnail.img-responsive(src="http://placehold.it/350x250")
                            .text-con
                                p Farmers Market
                                hr
                                p Web Design
                        .slide
                            img.img-thumbnail.img-responsive(src="http://placehold.it/350x250")
                            .text-con
                                p Beautiful Girl
                                hr
                                p Photography



                    .outside
                        p
                            span#slider-prev
                            span#slider-next

            section#services
                .container
                    .text-center
                        h1.heading Services
                        p.subtext Duis vitae velit mollis, congue nisi dignissim, pellentesque lorem

                    .services-container
                        .row
                            .col-md-4.col-sm-12.service-item
                                .text-center
                                    i.fa.fa-desktop
                                    p.service-name DESIGN & ART DIRECTING
                                    p.service-desc Nulla sit amet mi sed metus venenatis commodo vitae vel magna. Aenean auctor, dolor dignissim congue
                            .col-md-4.col-sm-12.service-item
                                .text-center
                                    i.fa.fa-code
                                    p.service-name Developing
                                    p.service-desc Nulla sit amet mi sed metus venenatis commodo vitae vel magna. Aenean auctor, dolor dignissim congue
                            .col-md-4.col-sm-12.service-item
                                .text-center
                                    i.fa.fa-lightbulb-o
                                    p.service-name Consulting
                                    p.service-desc Nulla sit amet mi sed metus venenatis commodo vitae vel magna. Aenean auctor, dolor dignissim congue




                    hr
                    .text-center
                        h1.heading And the prices
                        p.subtext Duis vitae velit mollis, congue nisi dignissim, pellentesque lorem

                    .price-container
                        .row
                            .col-md-3.col-sm-6.package
                                .inner
                                    p.package-type Starter
                                    p.package-price 15
                                        i.fa.fa-euro
                                    p.payment-cycle monthly
                                    hr
                                    ul.list-unstyled.features
                                        li Premium Quality
                                        li 24/7 Support
                                        li Great Results
                                        li Happy Clients
                                        li High Performance

                                    button.btn.btn-default.btn-block Grab Now

                            .col-md-3.col-sm-6.package
                                .inner
                                    p.package-type Business
                                    p.package-price 30
                                        i.fa.fa-euro
                                    p.payment-cycle monthly
                                    hr
                                    ul.list-unstyled.features
                                        li Premium Quality
                                        li 24/7 Support
                                        li Great Results
                                        li Happy Clients
                                        li High Performance

                                    button.btn.btn-default.btn-block Grab Now





                            .col-md-3.col-sm-6.package
                                .inner
                                    p.package-type Pro
                                    p.package-price 50
                                        i.fa.fa-euro
                                    p.payment-cycle monthly
                                    hr
                                    ul.list-unstyled.features
                                        li Premium Quality
                                        li 24/7 Support
                                        li Great Results
                                        li Happy Clients
                                        li High Performance

                                    button.btn.btn-default.btn-block Grab Now


                            .col-md-3.col-sm-6.package
                                .inner
                                    p.package-type Corporate
                                    p.package-price 75
                                        i.fa.fa-euro
                                    p.payment-cycle monthly
                                    hr
                                    ul.list-unstyled.features
                                        li Premium Quality
                                        li 24/7 Support
                                        li Great Results
                                        li Happy Clients
                                        li High Performance

                                    button.btn.btn-default.btn-block Grab Now






            section#video-div

                #video-container
                    video.fillWidth(autoplay='', loop='')
                        source(src='assets/video/video.mp4', type='video/mp4')

                        |  Your browser does not support the video tag. I suggest you upgrade your browser.
                .content
                    .text-center
                        h1.heading Catchy Sentence
                        hr
                        h1.heading With Video Background


            section#testimonials
                .container
                    .text-center
                        h1.heading Testimonials
                        p.subtext Duis vitae velit mollis, congue nisi dignissim, pellentesque lorem

                    .slider2
                        .slide
                            img.img-responsive.img-thumbnail(src="http://placehold.it/150x150")
                            .text-center
                                p.text “Aenean convallis dolor at eros ornare, sit amet convallis justo consequat. Vestibulum vitae enim risus. Nullam dignissim feugiat lectus, ac tristique odio gravida pellentesque.”
                                p.speaker
                                    span.speaker-name NELLY ATANASOFF
                                    span.speaker-designation CFO at Atanasoff LLC
                        .slide
                            img.img-responsive.img-thumbnail(src="http://placehold.it/150x150")
                            .text-center
                                p.text “Aenean convallis dolor at eros ornare, sit amet convallis justo consequat. Vestibulum vitae enim risus. Nullam dignissim feugiat lectus, ac tristique odio gravida pellentesque.”
                                p.speaker
                                    span.speaker-name NELLY ATANASOFF
                                    span.speaker-designation CFO at Atanasoff LLC
                        .slide
                            img.img-responsive.img-thumbnail(src="http://placehold.it/150x150")
                            .text-center
                                p.text “Aenean convallis dolor at eros ornare, sit amet convallis justo consequat. Vestibulum vitae enim risus. Nullam dignissim feugiat lectus, ac tristique odio gravida pellentesque.”
                                p.speaker
                                    span.speaker-name NELLY ATANASOFF
                                    span.speaker-designation CFO at Atanasoff LLC
                    //.outside
                    //    p
                    //        span#slider-prev-2
                    //        span#slider-next-2

                    hr
                    .text-center
                        h1.heading Clients
                        p.subtext Duis vitae velit mollis, congue nisi dignissim, pellentesque lorem
                    .row.clients
                        .col-md-2.client
                            img.img-responsive(src="http://placehold.it/170x98")
                        .col-md-2.client
                            img.img-responsive(src="http://placehold.it/170x98")
                        .col-md-2.client
                            img.img-responsive(src="http://placehold.it/170x98")
                        .col-md-2.client
                            img.img-responsive(src="http://placehold.it/170x98")
                        .col-md-2.client
                            img.img-responsive(src="http://placehold.it/170x98")
                        .col-md-2.client
                            img.img-responsive(src="http://placehold.it/170x98")



            section#facts
                .container
                    .text-center
                        h1.heading.font-color-invert Some Cool Facts
                        p.subtext.font-color-invert Duis vitae velit mollis, congue nisi dignissim, pellentesque lorem

                    .row.facts
                        .col-md-3
                            .col-md-12
                                .col-md-3
                                    i.fa.fa-users
                                .col-md-9
                                    .number 120
                                    .text Happy Clients

                        hr.visible-sm.visible-xs

                        .col-md-3
                            .col-md-12
                                .col-md-3
                                    i.fa.fa-files-o
                                .col-md-9
                                    .number 551
                                    .text Awesome Projects

                        hr.visible-sm.visible-xs

                        .col-md-3
                            .col-md-12
                                .col-md-3
                                    i.fa.fa-laptop
                                .col-md-9
                                    .number 95K
                                    .text Working Hours

                        hr.visible-sm.visible-xs
                        .col-md-3
                            .col-md-12
                                .col-md-3
                                    i.fa.fa-coffee
                                .col-md-9
                                    .number 1.2K
                                    .text Coffee Drunk




            section#contact
                .container
                    .text-center
                        h1.heading Contact Us
                        p.subtext Duis vitae velit mollis, congue nisi dignissim, pellentesque lorem

                    form
                        .col-md-4
                            .form-group
                                input.form-control(type="text" placeholder="Your Name")
                        .col-md-4
                            .form-group
                                input.form-control(type="email" placeholder="Your Email")
                        .col-md-4
                            .form-group
                                input.form-control(type="number" placeholder="Your Phone")
                        .col-md-12
                            .form-group
                                textarea.form-control.custom-height(type="text" placeholder="Your Message" rows="10")
                        .col-md-12
                            .text-center
                                button.btn.btn-default Send The Message

            section#findus
                .container
                    .text-center
                        h1.heading.font-color-invert Find Us
                        p.subtext.font-color-invert Duis vitae velit mollis, congue nisi dignissim, pellentesque lorem

                    .row.facts
                        .col-md-4
                            .col-md-12
                                .col-md-3
                                    i.fa.fa-phone
                                .col-md-9
                                    .contact-text Phone
                                    .contact-detail +359 2 88 55 999 </br> +359 89 88 55 999

                        hr.visible-sm.visible-xs

                        .col-md-4
                            .col-md-12
                                .col-md-3
                                    i.fa.fa-map-marker
                                .col-md-9
                                    .contact-text Office Address
                                    .contact-detail 4 Byala Cherkva Str. </br> 3rd Floor </br> Sofia, 1000,</br> Bulgaria

                        hr.visible-sm.visible-xs

                        .col-md-4
                            .col-md-12
                                .col-md-3
                                    i.fa.fa-envelope
                                .col-md-9
                                    .contact-text Email
                                    .contact-detail office@trendy.com </br> sales@trendy.com






        footer
            .container
                .pull-left
                    p Copyright © 2014 Trendy - Designed by Stefan Parnarov

                .pull-right.social-icons
                    i.fa.fa-facebook
                    i.fa.fa-twitter
                    i.fa.fa-google-plus
                    i.fa.fa-linkedin
                    i.fa.fa-reddit



        script(src="bower_components/jquery/dist/jquery.js")
        script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
        script(src="bower_components/bxslider-4/dist/jquery.bxslider.js")
        script(src="bower_components/jquery-timelineMe/src/jquery.timelineMe.js")
        script(src="js/main.js")

        // Google Analytics: change UA-XXXXX-Y to be your site's ID.
        script  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date; ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        script(src="https://www.google-analytics.com/analytics.js" async defer)