#about {
  @include padding-setter();
  .container {
    hr {
      @include margin(100px null);
      border-color: $gold;
      width: 30%
    }
    .team-section {
      @include padding(50px null null);
      .team-member {
        @include display(inline-block);
        .text-section {
          padding-top: 30px;
          .name-designation {
            span {
              @include fontsize(16px);
            }
            span:first-of-type {
              color: $gold;
              text-transform: uppercase;
              font-weight: bold;
            }
            span:last-of-type {
              text-transform: uppercase;
              &:before {
                content: '/';
                padding-left: 10px;
                padding-right: 2px;
              }
            }
          }
          .social-media {
            a {
              i {
                color: #777777;
                @include padding(null 10px)
              }
              i:first-of-type {
                padding-left: 0px;
              }
              &:hover, &:focus {
                i {
                  color: $gold;
                }
              }
            }
          }
        }
      }
    }
  }
}